#shownav {
    height: 20px;
}
.navbar.hideme {
    opacity: 0;
}
.guide{
  opacity: 0.5;
}
.guide.hideme {
    opacity: 0;
}
#wrapper{
  width: 70%;
  height:100%;
}
body{
  width: inherit;
	background-repeat:no-repeat;
  background-position: center;
      display: flex;
        min-height: 100vh;
        flex-direction: column;
}

#sc-widget {
            height: 100px;
            background: transparent;
        }

iframe {
          height: 130px;
            background: transparent;
        }
#foot {
            height: 160px;
            background: transparent;
