<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="http://connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="../static/js/scripts.js"></script>
	<link rel="stylesheet" href="../static/css/styles.css" media="screen" title="no title" charset="utf-8">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

    <body style="background-repeat: no-repeat; background-size: cover;">
					<nav class="navbar navbar-default" id="navs">
					  <div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" href="#">GifParty</a>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="gifSearch">
					      <ul class="nav navbar-nav">
					        <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
					          <ul class="dropdown-menu" id="musicInput">
					            <li><a href="#" class="genre">Rock</a></li>
											<li><a href="#" class="genre">Punk</a></li>
					            <li><a href="#" class="genre">Rap</a></li>
					            <li><a href="#" class="genre">Hip-Hop</a></li>
											<li><a href="#" class="genre">Trap</a></li>
					            <li><a href="#" class="genre">Dub-Step</a></li>
											<li><a href="#" class="genre">House</a></li>
					          </ul>
					        </li>
					      </ul>
					      <form class="navbar-form navbar-left" role="search"  id="search">
					        <div class="form-group">
					          <input type="text" class="form-control" placeholder="Giphy Search" id="giphysearch">
					        </div>
					        <button type="submit" class="btn btn-default" name="action">Submit</button>
					      </form>
								<ul class="nav navbar-nav navbar-right">
			            <li><a href="#">Profile</a></li>
			            <li class="active"><a href="/logout" name="action">Logout</a></li>
			          </ul>
					    </div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>



        <div class="guide">
            <p class="text-center"><span class="glyphicon glyphicon-menu-down"></span> Show HUD <span class="glyphicon glyphicon-menu-up"></span></p>
        </div>
        <footer class="page-footer disappear" id="foot" height="100px">

          <div class="navbar navbar-fixed-bottom">

            <div class="row testIt" height="100" id="target">

                <iframe id="sc-widget" width="100%" height="100" scrolling="no" class="testIt" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%&show_artwork=true&autoplay=true"></iframe>
								<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>


            </div>
          </div>

        </footer>

</body>
</html>
